.wrap{
    width: 100%;
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 30px;
    background-color: rgb(137, 137, 138);

}
.header >.content{
    width: 1080px;
    margin: 0 auto;
    line-height: 30px;

    color: #fff;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.header >.content>.pilot{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.header >.content>.pilot li>.a span{
    margin: 0 5px;
}
.header >.content>.pilot li>span:nth-child(2){
    font-size: 13px;
    margin: 0 20px;
}
.orderTitle{
    width: 100%;
    height: 100px;
}
.orderTitle>.content{
    width: 1080px;
    margin: 0 auto;
    line-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.orderTitle>.content>.logopart img{
    width: 160px;
}
/* .orderTitle>.logopart{
    margin-left: 100px;
} */
.orderTitle>.content >.searchArea{
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 14px;
}
.orderTitle>.content >.searchArea>.cart{
    width: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.orderTitle>.content >.searchArea>.search>input{
    width: 150px;
    height: 36px;
    line-height: 35px;
    border: 1px solid rgb(105, 105, 214);
}
.orderTitle>.content >.searchArea>.search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.orderTitle>.content >.searchArea>.cart>div{
    width: 100px;
    height: 100%;
    line-height: 40px;
    text-align: center; 
    color: #fff;
    background-color: rgb(49, 49, 49);
}
.orderTitle>.content >.searchArea .icon{
    display: block;
    color: #fff;
    background-color: rgb(81, 81, 252);
    width: 50px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
/* 内容区轮播图 */
.navItem{
    width: 100%;
    /* border: 1px solid red; */
}
.navItem>.content{
    width: 100%;
    height: 40px;
    background-color: rgb(77, 77, 77);
}
.navItem>.content> .navTitle{
    width: 1080px;
    margin: 0 auto;
    
    line-height: 40px;
    /* padding-left: 130px; */

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;
}
.navItem>.content>.navTitle li{
    width: 90px;
    text-align: center;
    margin: 0 20px;
    color: #fff;
}
.frame{
    width: 800px;
    height: 470px;
    border: rgb(153, 153, 153) solid 1px;
    margin: 30px auto;
    border-radius: 10px 10px 0 0;
}
.frame .titleFrame{
    width: 100%;
    height: 30px;
    background-color: #575757;
    border-radius: 10px 10px 0 0;
}

.frame .titleFrame .content{
    color: #fff;
    width: 90%;
    margin: 0 auto;
    line-height: 30px; /*行高的属性尽量设在块级元素里，行高值是当前所属元素的高度*/
}
.frame .titleFrame .content .titleFont{
    font-size: 13px;
}

.frame .contentFrame .regTable{
    width:600px;
    margin: 20px auto;
}
.frame .contentFrame .regTable .firstId{
    width: 100px;
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.frame .contentFrame .regTable .secondtId{
    width: 100px;
    text-align: right;
}
.frame .contentFrame .star{
    /* border: red solid 1px; */
    text-align: left;
    color: red;
    margin: 0 10px;
}
.frame .contentFrame .regTable .thirdId{
    color: #ff6700;
}

.frame .contentFrame .titleContent{
    font-size: 13px;
}
.frame .contentFrame .editContent{
    width: 220px;
    height: 30px;
}
.frame .nextBtn{
    width: 132px;
    height: 38px;
    margin: 40px auto;
}
.frame .nextBtn >input{
    outline: none;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    width: 100%;
    background-color: #ff6700;
    text-align: center;
}




.foot{
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    height: 70px;
    margin-top: 50px;
    background-color: rgb(53, 53, 53);
}
.foot>.content{
    width: 800px;
    height: 40px;
    font-size: 12px;
    margin: 0 auto;
    color: #fff;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}